github "crossroadlabs/BrightFutures" ~> 0.4
github "crossroadlabs/TidyJSON" ~> 1.1
github "groue/GRMustache.swift" "Swift2.1"
github "crossroadlabs/Regex" ~> 0.5
github "crossroadlabs/PathToRegex" ~> 0.2
github "crossroadlabs/CEVHTP" ~> 0.1
github "crossroadlabs/Stencil" ~> 0.5
