#github "crossroadlabs/BrightFutures" "master" #due to bug 1100 in carthage 0.12
github "crossroadlabs/BrightFutures" "5127b928524887ce3ad33b7d741f49511902cb03"
github "SwiftyJSON/SwiftyJSON"
#github "groue/GRMustache.swift" "Swift2.1" #due to bug 1100 in carthage 0.12
github "groue/GRMustache.swift" "bf7d6031d7e0dd862519eaba2b36b2e11a0d25a9"
