body {
    background-color: #e4e4e4;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 256px;
}

h1 {
    text-align: center;
}

.text-big {
    font-size: 24pt;
}

.text-bold {
    font-weight: 700;
}

.right-triangle {
    margin-top: -6px;
    float: right;
}
